<div>
    <h2>
        <span jhiTranslate="jadorApp.vente.home.title">Ventes</span>
        <button class="btn btn-primary float-right jh-create-entity create-vente" [routerLink]="['/', { outlets: { popup: ['vente-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="jadorApp.vente.home.createLabel">
            Create new Vente
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="ventes">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="date"><span jhiTranslate="jadorApp.vente.date">Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="prix"><span jhiTranslate="jadorApp.vente.prix">Prix</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="promotion"><span jhiTranslate="jadorApp.vente.promotion">Promotion</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="poids"><span jhiTranslate="jadorApp.vente.poids">Poids</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="articleId"><span jhiTranslate="jadorApp.vente.article">Article</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="clientRefId"><span jhiTranslate="jadorApp.vente.clientRef">Client Ref</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let vente of ventes ;trackBy: trackId">
                <td><a [routerLink]="['../vente', vente.id ]">{{vente.id}}</a></td>
                <td>{{vente.date | date:'mediumDate'}}</td>
                <td>{{vente.prix}}</td>
                <td>{{vente.promotion}}</td>
                <td>{{vente.poids}}</td>
                <td>
                    <div *ngIf="vente.articleId">
                        <a [routerLink]="['../article', vente.articleId  ]" >{{vente.articleId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="vente.clientRefId">
                        <a [routerLink]="['../client', vente.clientRefId  ]" >{{vente.clientRefId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../vente', vente.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'vente/'+ vente.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'vente/'+ vente.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="ventes && ventes.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
