<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myVenteLabel" jhiTranslate="jadorApp.vente.home.createOrEditLabel">Create or edit a Vente</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!vente.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="vente.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jadorApp.vente.date" for="field_date">Date</label>
            <div class="input-group">
                <input id="field_date" type="text" class="form-control" name="date" ngbDatepicker  #dateDp="ngbDatepicker" [(ngModel)]="vente.date"
                required/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.date?.dirty && editForm.controls.date?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.date?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jadorApp.vente.prix" for="field_prix">Prix</label>
            <input type="number" class="form-control" name="prix" id="field_prix"
                [(ngModel)]="vente.prix" required/>
            <div [hidden]="!(editForm.controls.prix?.dirty && editForm.controls.prix?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.prix?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.prix?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jadorApp.vente.promotion" for="field_promotion">Promotion</label>
            <input type="number" class="form-control" name="promotion" id="field_promotion"
                [(ngModel)]="vente.promotion" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jadorApp.vente.poids" for="field_poids">Poids</label>
            <input type="number" class="form-control" name="poids" id="field_poids"
                [(ngModel)]="vente.poids" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jadorApp.vente.article" for="field_article">Article</label>
            <select class="form-control" id="field_article" name="article" [(ngModel)]="vente.articleId" required>
                <option *ngIf="!editForm.value.article" [ngValue]="null" selected></option>
                <option [ngValue]="articleOption.id" *ngFor="let articleOption of articles; trackBy: trackArticleById">{{articleOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.article?.dirty && editForm.controls.article?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.article?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="jadorApp.vente.clientRef" for="field_clientRef">Client Ref</label>
            <select class="form-control" id="field_clientRef" name="clientRef" [(ngModel)]="vente.clientRefId"  required>
                <option *ngIf="!editForm.value.clientRef" [ngValue]="null" selected></option>
                <option [ngValue]="clientOption.id" *ngFor="let clientOption of clients; trackBy: trackClientById">{{clientOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.clientRef?.dirty && editForm.controls.clientRef?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.clientRef?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
